<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.damn.splashscreen">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.screen.portrait" />

    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="sensorPortrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.SplashScreen">
        <activity
            android:name="com.damn.splashscreen.BaselineEndScreen1"
            android:label="@string/title_activity_baseline_end_screen1"
            android:noHistory="true"
            android:theme="@style/Theme.SplashScreen.NoActionBar"/>
        <activity
            android:name="com.damn.splashscreen.ID_check"
            android:label="@string/title_activity_i_d_check"
            android:noHistory="true"
            android:theme="@style/Theme.SplashScreen.NoActionBar" />
        <activity
            android:name="com.damn.splashscreen.Example_practice3"
            android:label="@string/title_activity_example_practice3"
            android:noHistory="true"
            android:theme="@style/Theme.SplashScreen.NoActionBar" />
        <activity
            android:name="com.damn.splashscreen.Sound_check"
            android:label="@string/title_activity_sound_check"
            android:noHistory="true"
            android:theme="@style/Theme.SplashScreen.NoActionBar" />
        <activity
            android:name="com.damn.splashscreen.Example_practice2"
            android:label="@string/title_activity_example_practice2"
            android:noHistory="true"
            android:theme="@style/Theme.SplashScreen.NoActionBar" />
        <activity
            android:name="com.damn.splashscreen.Example_practice"
            android:label="@string/title_activity_example_practice"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SplashScreen.NoActionBar" />
        <activity
            android:name="com.damn.splashscreen.PracticeActivityStartScreen"
            android:label="@string/title_activity_practice_start_screen"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SplashScreen.NoActionBar" />
        <activity
            android:name="com.damn.splashscreen.PracticeDone"
            android:label="@string/title_activity_practice_done"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SplashScreen.NoActionBar" />
        <activity
            android:name="com.damn.splashscreen.PrimeActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.damn.splashscreen.LoadBetweenTestAndPrime"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.damn.splashscreen.LoadBetweenPrimeAndTest"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.damn.splashscreen.HowToPlayActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.damn.splashscreen.HelpActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.damn.splashscreen.PracticeActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.damn.splashscreen.SettingsActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.damn.splashscreen.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.damn.splashscreen.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.damn.splashscreen.Receiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="Broadcast" />
            </intent-filter>
        </receiver>
    </application>

</manifest>